.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-image: url("/images/homepage.jpeg");
    background-blend-mode: multiply, multiply;
    overflow: hidden;
}

.leftSection {
    flex: 2;
    padding: 3rem 0 0 3rem;
    position: sticky;
    top: 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

.rightSection {
    flex: 2;
    padding: 3rem ;
    color: white;
    top: 0;
}

.pointTable {
    min-height: 250px;
    max-height: 65vh;
    overflow-y: auto;
}

.pointTable::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.pointTable thead {
    overflow-y: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
}

.pointTable th {
    background-color: inherit;
}

.pointTable th,
.pointTable td {
    text-align: center;
    padding: 1rem;
    width: 20%;
}

.pointTable th:nth-child(5) {
    width: 40%;
}

.pointTable tbody tr:nth-child(even) {
    background: transparent;
    color: #83EEFF;
    font-weight: bold;
}

.pointTable tbody tr:nth-child(odd) {
    background: transparent;
    color: #FF10F0;
    font-weight: bold;
}

.pointTable tbody tr {
    line-height: 3;
}

.btn {
    border-radius: 5px;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: #FF10F0;
    color: white;
    box-shadow: 0 2px 3px #888888;
}

.btn:hover {
    background: #00d6f7
}

.container h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Times New Roman', sans-serif;
    margin-bottom: 1.5rem;
    color: #FF10F0;
}

.leftSection p {
    text-align: center;
    line-height: 3;
}

.leftSection ul {
    text-align: center;
    line-height: 3;
}

.leftSection li {
    margin-bottom: 2;
}