.container {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(45deg, #2c3e50 0%, #bdc3c7 100%);;
    background-blend-mode: multiply, multiply;
    color: whitesmoke;
}

.leftSection {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 2; 
    padding: 3rem;    
}

.leftSection *{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.rightSection {
    flex: 2;
    padding: 2rem;
}

.pointTable {
    margin: 3% 7%;
    min-height: 250px;
}

.pointTable thead {
    position: sticky;
    top: 0;
    background-color: #EDF1F4;
}

.pointTable th {
    color: #000;
    background-color: inherit;
    width: 20%;
}

.pointTable tbody tr {
    line-height: 3;
}

.pointTable tbody td{
    text-align: center;
}

.btn {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0.7rem 1rem;
    width: 25%;
}

.btn:hover{
    color: white;
    background-color: #000;
}