.mainContainer{
    background-image: url("/images/wallpaper.jpg");
    width: 100vw;
    height: 90vh;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

.container{    
    width: 50%;
    min-height: 500px;
    margin: 0 auto;
    padding: 3rem 0;
}

.infoLabel{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 450px;
    width: 55%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 3rem 0;
    margin: auto;
    color: #83EEFF;
}

.label{
    margin-bottom: -2.5rem;
}

.title{
    font-size: 3.4rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: #83EEFF;
}

.icon{    
    font-size: .9rem;
    margin: 0 2rem;
}

.input{
    padding: 8px 15px;
    font-size: 1rem;
    color: #FF10F0;
    border: 1px solid #ddd; 
    border-radius: 4px;
}

.input1{
    padding: 8px 15px;
    font-size: 1rem;
    color: #FF10F0;
    border: 1px solid #ddd; 
    border-radius: 4px;
    margin-right: 5.1rem;
}

.input::placeholder{
    color: #ccc;
}

.input1::placeholder{
    color: #ccc;
}

.btn{
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 1rem;
    width: 50%;
    margin-bottom: -1rem;
}

.updateBtn{
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 8px 16px;
    font-size: .8rem;   
}

.span{
    font-size: 0.8rem;
    color: #FF10F0;
}

.spanSuccess{
    font-size: 0.9rem;
    color: #83EEFF;
}