.mainContainer {
    background-image: url("/images/wallpaper.jpg");
    width: 100vw;
    height: 90vh;
    padding: 3rem 0;
    margin: 0;
    color: whitesmoke;
    overflow-y: auto;
}

.mainContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container p {
    margin-bottom: 1rem;
}

.container p:last-of-type {
    margin-top: 0;
}

.title {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.minTitle {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 50px;
}

.link {
    font-weight: bold;
}

.gamesContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.gamesContainer p {
    text-align: right !important;
}

.text {
    font-size: 1.3rem;
    text-align: center;
    line-height: 2.5rem;
}

.chartsContainer {
    width: 50vw;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
}

.tournamentTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tournamentTable th,
.tournamentTable td {
    padding: 12px;
    text-align: center;
}

.tournamentTable thead tr {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #ddd; /* Satır altına sınır */
}

.tournamentTable thead th {
    background-color: transparent;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd; /* Satır altına sınır */
}

.tournamentTable tbody tr:nth-child(even) {   
    color: rgba(75, 192, 192, 1);
    font-weight: bold;
}

.tournamentTable tbody tr:nth-child(odd) {
    background-color: #ddd;
    color: rgba(255, 99, 132, 1);
    font-weight: bold;
}

.tournamentTable tbody tr:nth-child(even):hover {
    background-color: #ddd; /* hover rengini değiştirerek daha iyi görünüm sağlanabilir */
}

.tournamentTable td {
    border-bottom: 1px solid #ddd; /* Sadece td elementleri için sınır */
}